*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    //#0f0f0e #366454 #38967a #3bc8a0 #19fac6:颜色变量
    --color1: #0f0f0e;
    --color2: #366454;
    --color3: #38967a;
    --color4: #3bc8a0;
    --color5: #19fac6;
    background-color: var(--color1);
    &::selection {
            background: var(--color2);
            color: var(--color4);
    }
}

body{
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    color:white;
}



/* 超小屏（≤374px） */
@media (max-width: 374px) {
    html {
        font-size: 15px;
    }
}

/* 小屏（375px ~ 575px） */
@media (min-width: 375px) and (max-width: 575px) {
    html {
        font-size: 16px;
    }
}

/* 平板及以上（≥576px） */
@media (min-width: 576px) {
    html {
        font-size: 17px;
    }
}

/* 中等屏幕（≥768px） */
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

/* 大屏（≥992px） */
@media (min-width: 992px) {
    html {
        font-size: 19px;
    }
}

/* 超大屏（≥1200px） */
@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}
