@keyframes H-moveIn {
    // 从下往上移动进入
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#HomeContent {
    $animation-time: 1s;
    z-index: 2;
    position: absolute;
    top: 60px;
    height: calc(100svh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    .motto {
        width: 80%;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        white-space: pre-wrap;
        color: transparent;
        background: linear-gradient(45deg, var(--font-color), var(--primary-color4));
        background-clip: text;
        -webkit-background-clip: text;
        animation: H-moveIn $animation-time ease-in-out forwards;
    }
    .introduce {
        width: 80%;
        font-size: 0.8rem;
        text-align: center;
        letter-spacing: 2px;
        color: var(--font-color);
        opacity: 0;
        animation: H-moveIn $animation-time ease-in-out $animation-time - 0.5s forwards;
    }
    .techTags {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .techTag {
            padding: 5px 10px;
            font-size: 0.6rem;
            border-radius: 5px;
            opacity: 0;
            animation: H-moveIn $animation-time ease-in-out $animation-time - 0s forwards;
        }
    }
}
