#IntroduceRightItem {
    width: 50%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    .wrap {
        width: 60%;
        aspect-ratio: 1 / 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        opacity: 0;
        transition: all 2s ease-in-out;
        .item {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 20px;
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background: radial-gradient(circle, var(--primary-color4) 0%, var(--bk-color) 70%);
                z-index: 0;
                transform: translate(var(--x, -1000px), var(--y, -1000px));
            }
            .inner {
                position: absolute;
                z-index: 1;
                inset: 2px;
                border-radius: inherit;
                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                    user-select: none;
                    filter: grayscale(100%);
                    transition: filter 0.3s ease-in-out;
                    &:hover {
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
    .wrapActive {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    #IntroduceRightItem {
        width: 100% !important;
        height: 100svh;
    }
}
