*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    //#0f0f0e #366454 #38967a #3bc8a0 #19fac6:颜色变量
    --bk-color: #0f0f0e; //背景颜色
    --font-color: #fff; //字体颜色
    --primary-color1: #366454; //主要颜色1
    --primary-color2: #38967a; //主要颜色2
    --primary-color3: #3bc8a0; //主要颜色3
    --primary-color4: #19fac6; //主要颜色4

    // 选择文本的背景颜色和字体颜色
    &::selection {
        background: var(--primary-color2);
        color: var(--primary-color4);
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--primary-color1);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--primary-color3);
    }
}

body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    color: var(--font-color);
    background-color: var(--bk-color);
}

html {
    // 字体大小根据视口宽度变化，最小14px，最大30px
    font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1920 - 320)));
}
